/* THE CENTER TRIANGLES */
.center-home {
  position: absolute;
  top: 180px;
  left: 180px;
  width: 90px;
  height: 90px;
  background: white;
  z-index: 20;
  border: 2px solid #333;
}

.triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

/* Creating triangles using border math */
.red-t {
  border-width: 45px 45px 0 0;
  border-color: #ff4d4d transparent transparent transparent;
  top: 0; left: 0;
}
.green-t {
  border-width: 0 45px 45px 0;
  border-color: transparent #2ecc71 transparent transparent;
  top: 0; right: 0;
}
.yellow-t {
  border-width: 45px 0 0 45px;
  border-color: transparent transparent transparent #f1c40f;
  bottom: 0; left: 0;
}
.blue-t {
  border-width: 0 0 45px 45px;
  border-color: transparent transparent #3498db transparent;
  bottom: 0; right: 0;
}

/* Add an animation to the pieces to make them feel "alive" */
.piece:hover {
  transform: scale(1.2);
  cursor: pointer;
  filter: brightness(1.2);
}
